<div class="container mx-2">
  <h2 class="text-center">List of Pokemons first generation</h2>

    <h4 class="mt-4">Please select a pokemon</h4>
  <select name="pokemons" class="form-select selection dropdown" (change)="showDetails($any($event.target).value);">
    <option [value]="0">--Please choose a pokemon--</option>
    <option
      *ngFor="let pokemon of pokemons; index as i"
      [value]="i+1"
    >
      {{ pokemon.name }}
    </option>
  </select>
</div>
  <div class="tab-content table-responsive-md">
  <table class="table" *ngIf="show">
    <thead>
      <tr><th scope="col">moves</th>
        <th scope="col">type</th>
        <th scope="col">name</th>
        <th scope="col">base exeperience</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <ul>
            <li *ngFor="let move of moves">{{ move }}</li>
          </ul>
        </td>
        <td>
          <ul>
            <li *ngFor="let type of types">{{ type }}</li>
          </ul>
        </td>
        <td>{{ name }}</td>
        <td>{{ baseExperience }}</td>
      </tr>
      <img src="{{ pic }}" alt="image pokemon" />
    </tbody>
  </table>
</div>